*{
    margin: 0;padding: 0; background-color: #000000;
    clear:both;
}
.name{
    margin-top: 10px;
    font-family: 'Aladin', cursive;
    font-size: 4em;
    text-align: center;
    color: #fff;
}
hr{
    width: 400px;
    height: 2px;
    color: #fff;
    background-color: #fff;
    margin: auto;
    display: block;
}
.about{
    padding: 20px;
    margin: auto;
}
p{
    /* border: 1px solid black; */
    /* padding: 20px; */
    text-align: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.67em;
}
.container{
    margin: auto;
    width: 900px;
    height: auto;
    /* border: 1px solid red; */
}
.img1{
    margin-top: 80px;
    padding: 5px;
    height: 130px;
    width: 130px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.names{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.cvborder{
    margin-top: 20px;
    border: 2px solid 	#ff0000;
}
.graphic{
    /* margin-top: px; */
    font-family: 'Allura', cursive;
    font-size: 2em;
    text-align: center;
     color: #fff;
}
.CV{
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.1em;
    text-align: center;
     color: #fff;
}

.carrier{
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    color: #ffc100;
}
.co{
    /* border: 1px solid black; */
    padding: 10px;
    text-align: left;
     color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.67em;
}
.flex{
    display: flex;
    /* border: 2px solid red ; */
    height: auto;
    flex-wrap: wrap;
}
.fdata{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    line-height: 3.67em;
    text-align: left;
     color: #ffc100;
    /* border: 2px solid green; */
    width: 300px;
    /* align-items: center; */
}
.info{
    text-align: left;
     color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8em;
    line-height: 1.67em;
    flex-wrap: wrap;
}
.f2data{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    line-height: 3.67em;
    text-align: left;
     color: #ffc100;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    width: 508px;
    /* align-items: center; */
}
.heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    text-align: left;
     color: #ffc100;
    padding-top: 2px;
    flex-wrap: wrap;
}
.work{
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
     color: #fff;
}
.worktag{
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    
}
@media screen (max-width: 1180px)
{
    body{
        display: block;
    }

}

@media screen (max-width: 600px)
{
    body{
        display: block;
    }

}
